/* ADAPTED FROM THIS SOURCE: http://codepen.io/rocbear/pen/KVXpGW/*/

.expandable-content {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.expanded {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: auto;
  overflow: visible !important;
  z-index: 5;
  background: rgba(30, 30, 30, 0.95);
  box-shadow: 0 0 20px 4px #444 inset;
  cursor: default;
}

.expanded.fixed-position
{
  position: fixed;
  padding: 20px;
  overflow: auto;
}

.expandable-content h3 {
  font-size: 28px;
}

.expandable-content .project-menu-back {
 display: none; 
}

.expanded-main {
  margin: 20px;
}

.fixed-position .expanded-main {
  margin: 0 20px;
}

.noscroll
{
  position: fixed;
}

.expanded .project-hover,
.expanded > img,
.expanded-main {
  display: none;
}

.expanded .expanded-content,
.expanded .expanded-main {
  display: block;
}

.expanded h3 {
  margin-top: 20px;
  font-size: 32px;
}

.expanded .project-menu {
  border: 0;
}

.expanded .project-menu-back {
  display: inline-block;
  cursor: pointer;
}

.expanded-content row {
  margin-top: 20px;
}

.expanded-content .iframe-wrapper {
  max-width: 1280px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
  height: 0;
  padding-bottom: 56.25%;
}

.fixed-position .expanded-content .iframe-wrapper {
  overflow: visible;
  max-width: none;
  margin: 20px -40px;
  padding-bottom: calc(100vh - 54px - 88px - 40px);
}

.expanded-content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  overflow: hidden;
  left: 0; top: 0;
}

.fixed-position .expanded-content .iframe {
  overflow: visible;
  max-width: none;
  max-height: none;
}

.expanded-content img {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .expanded.fixed-position {
    padding: 10px;
  }

  .expanded-main {
    margin: 10px;
  }

  .fixed-position .expanded-main {
  margin: 0 10px;
  }
  
  .fixed-position .expanded-content .iframe-wrapper {
  margin: 20px -20px;
}
