/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
	font-size: 11pt;
	line-height: 1.25;
	color: #ccc;
	background: url("../img/background.jpg") repeat center top;
	font-family: 'Play';
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 80px auto 50vh;
}

a {
	color: #63a52a;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

	a:hover {
		text-decoration: underline;
		color: #90D355;
	}

h1, h2, h3, h4, h5 {
	color: #FF9900;
	margin: 10px 0;
}

h1 {
	font-size: 42pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-size: 32pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}

h4 {
	font-size: 18pt;
}

h5 {
	font-size: 14pt;
	margin: 0;
}

hr {
	position: relative;
	outline: 0;
	border: 0;
	width: 100%;
	height: 4px;
	background: #FF9900;
	margin: 0;
}

.center {
	text-align: center;
}

.no-list-style {
	list-style: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
	position: static;
}

.no-pad {
	padding: 0;
}

button.link {
	border: 0;
	background: 0;
	padding: 0;
	color: #63a52a;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

	button.link:hover {
		text-decoration: underline;
		color: #90D355;
	}

.btn-style {
	background-image: -webkit-linear-gradient(top,#ff4500 0,#ff9900 100%);
	background-image: -o-linear-gradient(top,#ff4500 0,#ff9900 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ff4500),to(#ff9900));
	background-image: linear-gradient(to bottom,#ff4500 0,#ff9900 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4500', endColorstr='#ff9900', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-repeat: repeat-x;
	border-color: #ff9900;
}



/*---------------------------------------------------------
 3. Profile
-------------------------------------------------------- */


#vignette {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 0 15vmin rgba(0,0,0,1) inset;
	pointer-events: none;
	z-index: 10;
}

.profile-section {
	display: flex;
	align-items: center;
	border-bottom: 4px solid #FF9900;
	margin-right: 4px;
}

.avatar {
	height: 100px;
}

	.avatar img {
		height: 100%;
	}

.profile-info {
	min-width: 200px;
}

.profile-title {
	margin: 0;
}

.profile-description {
	font-size: 14pt;
}

.profile-icons {
	display: block;
}

	.profile-icons li {
		display: block;
	}

	.profile-icons a {
		font-size: 18px;
	}

@media screen and (max-width: 525px) {
	.avatar {
		height: 48pt;
	}

	.profile-info {
		min-width: 150px;
	}

	.profile-title {
		font-size: 16pt;
	}

	.profile-description {
		font-size: 10pt;
	}

	.profile-icons a {
		font-size: 10pt;
	}
}

@media screen and (max-width: 425px) {
	.profile-info {
		min-width: 0;
	}

	.profile-description {
		display: none;
	}
}

/*---------------------------------------------------------
 4. Navigation Menu
-------------------------------------------------------- */

.navigation-menu {
	position: relative;
	width: 85%;
	max-width: 80em;
	height: auto;
	margin: 0 auto;
	z-index: 5;
	opacity: 1;
	pointer-events: auto;
	display: flex;
	align-items: flex-end;
}

	.navigation-menu li {
		display: inline-block;
		vertical-align: bottom;
	}

		.navigation-menu li a,
		.navigation-menu li button {
			display: block;
			padding: 10px 20px;
			color: #ccc;
			font-size: 18px;
			border: 0;
			border-bottom: 4px solid #FF9900;
			background: transparent;
			-webkit-transition: all 150ms ease-in-out;
			-moz-transition: all 150ms ease-in-out;
			-ms-transition: all 150ms ease-in-out;
			-o-transition: all 150ms ease-in-out;
			transition: all 150ms ease-in-out;
		}

		.navigation-menu li i.fa-external-link {
			color: #63a52a;
		}

		.navigation-menu li a:hover,
		.navigation-menu li button:hover {
			background: #FF9900;
			text-decoration: none;
			-webkit-transition: all 150ms ease-in-out;
			-moz-transition: all 150ms ease-in-out;
			-ms-transition: all 150ms ease-in-out;
			-o-transition: all 150ms ease-in-out;
			transition: all 150ms ease-in-out;
		}

.content-wrapper > .page-section {
	display: none;
}

.content-wrapper > .active-section {
	display: block;
}

@media screen and (max-width: 768px) {
	.navigation-menu {
		width: 100%;
	}
	.navigation-menu li span {
		display: none;
	}
	.navigation-menu li a i {
		color: #63a52a;
	}
	.navigation-menu li a:hover i {
		color: #90D355;
	}
}

@media screen and (max-width: 425px) {
	.navigation-menu li a,
	.navigation-menu li button {
		padding: 5px 10px;
		font-size: 14px;
	}
}
/*---------------------------------------------------------
 5. Main Content
-------------------------------------------------------- */

.main-content {
	position: relative;
	opacity: 1;
	width: 85%;
	max-width: 80em;
	margin: 0 auto;
	box-shadow: 0 0 20px 4px #444;
	background: rgba(30,30,30, 0.85);
	pointer-events: auto;
}

@media screen and (max-width: 768px) {
	.main-content {
		width: 100%;
	}

	.container-fluid {
		padding: 0;
	}
}

.page-section {
	margin: 20px;
}

/*------ about ------ */

#about h5,
#about h4 {
	margin: 10px 0;
}

#about .col-md-4,
#about .col-md-6,
#about .col-md-12,
#about .row {
	padding: 0 10px;
	margin: 10px 0;
}

#timeline li {
	padding: 4px 10px;
}

.about-picture {
	text-align: center;
}

	.about-picture img {
		max-width: 100%;
		border-radius: 10%;
	}

.languages {
	margin: 10px;
	text-align: center;
}

	.languages li {
		display: inline-block;
		padding: 0 10px;
		font-size: 14pt;
	}

	.languages .level {
		padding-left: 0;
		border-right: 4px solid #ff9900;
	}

.pcmr {
	margin: 10px 0;
	max-height: 32pt;
	max-width: 100%;
}

/*------ projects ------ */

.projects-holder {
	margin-top: 20px;
	padding: 0 40px;
}

@media screen and (max-width: 768px) {
	.projects-holder {
		padding: 0 20px;
	}
}

@media screen and (max-width: 425px) {
	.projects-holder {
		padding: 0;
	}
}

.project-item {
	width: 100%;
	box-shadow: 0 0 10px 2px #444;
	margin: 20px 10px;
	overflow: hidden;
	position: relative;
}

	.project-item img {
		max-width: 100%;
		display: block;
	}

	.project-item:hover .project-hover {
		top: 0;
		opacity: 1;
		visibility: visible;
	}

.project-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 40px;
	left: 0;
	background: rgba(30, 30, 30, 0.9);
	opacity: 0;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
}

	.project-hover .inside {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		padding: 20px;
	}

	.project-hover p {
		color: #ccc;
		font-size: 13px;
		line-height: 20px;
	}

.project-menu {
	height: auto;
	position: relative;
	text-align: center;
	border-bottom: 4px solid #FF9900;
}

	.project-menu li {
		display: inline-block;
		font-size: 18px;
	}

	.project-menu .project-tags li {
		padding: 10px;
	}

	.project-menu .language,
	.project-menu .platform {
		border-right: 4px solid #FF9900;
	}

	.project-menu-back,
	.project-menu li a {
		display: block;
		padding: 10px;
	}

		.project-menu-back:hover,
		.project-menu li a:hover {
			background: #FF9900;
			text-decoration: none;
		}


/*------ cv ------*/

#cv {
	text-align: center;
}

.cv-container {
	position: relative;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	padding-bottom: 85vh;
}

	.cv-container object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}